{% extends "./templates/layout.twig" %}

{% block title %}LANDING{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {# PAGE CONTENT HERE #}
    <div style="background:transparent;" class="row h-100">
        <div style="padding-top:40px" class="col-12 h-100">
            <div class="main-content pl-3 pr-3 h-100">

                <div class="tab-content pl-4 pr-4 h-100" id="pills-tabContent">
                    <div class="tab-pane h-100 fade show active" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-home-tab">
                        {% include './sections/dashboard.twig' %}
                    </div>
                    <div class="tab-pane h-100 fade" id="pills-items" role="tabpanel" aria-labelledby="pills-profile-tab">
                        {% include './sections/items.twig' %}
                    </div>
                    <div class="tab-pane h-100 fade" id="pills-textures" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/texture-repo.twig' %}
                    </div>

                    <div class="tab-pane h-100 fade" id="pills-extras" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/extras.twig' %}
                    </div>
                    <div class="tab-pane h-100 fade" id="pills-stats" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/stats.twig' %}
                    </div>
                    <div class="tab-pane h-100 fade" id="pills-banner" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/banners.twig' %}
                    </div>
                    <div class="tab-pane h-100 fade" id="pills-title" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/titles.twig' %}
                    </div>
                     <div class="tab-pane h-100 fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/profile.twig' %}
                    </div>
                     <div class="tab-pane h-100 fade" id="pills-options" role="tabpanel" aria-labelledby="pills-contact-tab">
                        {% include './sections/settings.twig' %}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}