/*COMPILE ######################*/
@import "../lib/ac.var.scss";

/*############################*/

html {
    position: relative;
    min-height: 100%;
    font-family: $font-stack;
}

body {
    height: 100%;
    color: #fff;
    background: $body-background;
}




.no-bg {
    background: transparent;
    animation: fade 0.3s linear;
    transition: background 0.5s linear;

    body {
        background: $body-background-full;
        transition: background 0.5s linear;
    }
}

.dashboard-bg {
    background-image: url('https://images7.alphacoders.com/820/thumb-1920-820783.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 0.3s linear;
    transition: background 0.5s linear;

}

.items-bg {
    background-image: url('https://wallpaperset.com/w/full/3/8/c/395089.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 0.3s linear;
    transition: background 0.5s linear;

}
.profile-bg {
    background-image: url('https://ksassets.timeincuk.net/wp/uploads/sites/54/2018/07/Rocket-League-920x518.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 0.3s linear;
    transition: background 0.5s linear;
}

.stats-bg {
    background: url('https://cdn-images-1.medium.com/max/2000/1*qEzJ59vRB2ZcweOmb_wUEQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade 0.3s linear;
    transition: background 0.5s linear;
}

.card-img-overlay {
    background: linear-gradient(to right, rgba(57, 57, 57, 0.3), rgba(34, 34, 34, 0.8));
}

.card {
    border: 2px solid $ac-gray-mid !important;


    &:hover{
        border: 2px solid  $gray-light !important;
    }
}


@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}





.stats-info-bg{
    position: absolute;
    top:2px;
    left:0;
 
    background: url('https://cdn-images-1.medium.com/max/2000/1*qEzJ59vRB2ZcweOmb_wUEQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.stats-info-wrapper{
    background: linear-gradient(to right, rgba(57, 57, 57, 0.8), rgba(34, 34, 34, 0.9));

}








/*COMPONENTS ######################*/

@import "../components/ac.core.scss";
@import "../components/ac.headings.scss";
@import "../components/ac.sidebar.scss";
@import "../components/ac.buttons.scss";
@import "../components/ac.inputs.scss";
@import "../components/ac.forms.scss";
@import "../components/ac.accordian.scss";
@import "../components/ac.scrollbar.scss";
@import "../components/ac.titlebar.scss";
@import "../components/ac.footer.scss";