.btn {
    padding: 0.4rem 0rem;
}

.btn-acc {
    border-radius: 0px;
    font-size: 20px;
    width: 89%!important;
    background: $ac-gray-alt;
    color: #fff;
    border-color: #3F3F3F;
    cursor: pointer;

    &:hover{
        background: $ac-gray;
        box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
    }
}


