html {
	font-size: 14px;
	height: 100%;
}

body {
    background: $body-background;
	min-height: 100%;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

section {
    margin-left: -1px;
    overflow-x: hidden;
    display: none;
    border-top:5px solid #454545;
    border-left:1px solid $ac-gray;
    border-right:1px solid $ac-gray;
    border-bottom:1px solid $ac-gray;
    height: 650px;
    background-image: url("../../img/ball-bg.png");
    background-position-y: -155px;
}

.panel {
    padding: 0 10px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    color: #fff;
    transition: max-height 0.2s ease-out;
}

.table {
	th,
	td {
		border-top: none;
		vertical-align: middle;
		font-size: .9rem;
	}
}
 
.alt-row-h {
    background-color: rgba(57, 57, 57, 0.5) !important;
}

.alt-row-strong-h {
    background-color: rgba(57, 57, 57, 0.8) !important;
}

.alt-row {
    background-color: rgba(57, 57, 57, 0.3) !important;
    white-space: nowrap;
}

.alt-row-strong {
    background-color: rgba(57, 57, 57, 0.6) !important;
}

.b-team {
    color: #5698EB !important;
}

.o-team {
    color: #D09B4F !important;
}

.build-number{
    position:relative !important; 
    color: $ac-gray !important;
    float: right;
    margin-top:5px;
}

.hidden{
    display:none !important;
}

.status-text{
    position:relative !important; 
    color: $gray-lighter !important;
    width: 100% !important;
    text-align: right !important;
}

.pull-left{
    float: left !important;
}

// =====================================

.tabssac {
    max-width: 100%;
    margin-top:-20px;
  }
  .tabs-nav li {
    float: left;
    width: 50%;
    list-style: none;
    background: #313131;
    text-decoration: none;
  
  }
  .tabs-nav li:first-child a {
  
    float:left;
    width:100%;
  padding:10px;
  text-align: center;
  font-size: 28px;
  font-family: BourgeoisLight;
  text-decoration: none;
  border: 1px solid #454545;
  }

  .tabs-nav li:last-child a {
    float:left;
    width:100%;
  padding:10px;
  text-align: center;
  font-size: 28px;
  font-family: BourgeoisLight;
  text-decoration: none;
  border: 1px solid #454545;
  }

  .tab-active a {
   
      background: #414141;
    border: 1px solid #454545;
    color: #fff;
    cursor: cursor;
    text-decoration: none;
  }
  .tabs-stage {
   color:#fff;
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
  }
  


/* Style tab links */
.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 50%;
  }

  .tablink:hover {
	background-color: #777;
  }

  /* Style the tab content (and add height:100% for full page content) */

  .tabcontent {
	color: white;
	display: none;
	height: 100%;
  }

  select {
	padding: 5px !important;
  }