@font-face {
    font-family: BourgeoisLight;
    src: url(../../fonts/BourgeoisLight.woff2) format("woff2");
}

@font-face {
    font-family: BourgeoisMedium;
    src: url(../../fonts/BourgeoisMedium.woff2) format("woff2");
}

@font-face {
    font-family: QuarcaExtLight;
    src: url(../../fonts/QuarcaExtLightModified.woff2) format("woff2");
}

.font-bourgL {
	font-family: BourgeoisLight;
}

.font-bourgM {
	font-family: BourgeoisMedium;
}

.font-quarcaL {
	font-family: QuarcaExtLight;
}

.font-quarcaM {
	font-family: QuarcaExtLight;
}
