.heading-title {
    margin-bottom: 10px !important;
    color: #fff;
    font-size: 42px !important;
    text-align: center;
    margin-top: -10px !important;
}


.section-header {
    font-family: BourgeoisLight;
    font-size: 20px;
    background-color: #393939;
    color: #fff;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border: 1px solid #454545;
    transition: 0.4s;
}