.acc-input {
    display: block;
    color: #fff;
    padding: 10px;
    border: 1px solid #3D3D3D;
    background-color: #313131;
    height: 100%;
    width: 100%;
    max-height: 30px;
}

.acc-input.acc-input-sm {
    display: inline-block;
    width: 70px;
    height: 30px;
}
