.acc-input {
    display: block;
    color: #fff;
    padding: 10px;
    border: 1px solid #3D3D3D;
    background-color: #313131;
    height: 100%;
    width: 100%;
    max-height: 30px;
    font-size: 12px;
}

td.alt-row-strong > select{
    width: 92%;
    float: left;
}


td.alt-row > select{
    width: 85%; 
    float: left;
}

.reset-input {
    float: left;
    position: relative;
    margin-left:10px;
}

#loopduration > div > div.col-3 > span {
    display:none;
}