.square {
	float: left;
	position: relative;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.separator {
	float: left;
	position: relative;
	width: 100%;
	margin-left: 1.66%;
	margin-right: 1.66%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.author {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	padding: 10px;
	width: 100%;
	margin-bottom: 0;
}

.pack-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
}

.like-status {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	z-index: 99999;
}

.like-count {
	font-size: 13px;
	color: #fff;
	margin-left: 35px;
	margin-bottom: 3px;
	padding-left: 0;
}

.details-title {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	padding-right: 15px;
	width: 100%;
	text-align: right;
}

.description {
	padding-top: 40px;
	padding-left: 10px;
	max-height: 600px;
	min-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

iframe {
	padding-right: 10px;
}

li {
	margin-left: 16px;
}

li ul {
	margin-left: 32px;
}

.bg-black {
	background-color: rgba(0, 0, 0, 0.5);
}

.download {
	position: absolute;
	margin: 10px;
	bottom: 0;
	right: 0;
	padding: 10px;
}

.page-control {
	font-size: 21px;
}
