{# HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaL text-left w-100 heading-title">
            DASHBOARD
        </p>
    </div>
</div>
{# SUB HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            ALPHACONSOLE HOME AND LATEST INFO/FEATURES
        </p>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-12">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            WHAT CAN ALPHACONSOLE DO?
        </p>
    </div>
    <div class="col-md-4 col-sm-12">
        <a href="#">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="height: 238px;" src="https://rocketleaguemods.com/wp-content/uploads/cmdm/167676/1502813368_20170815180638_1-1600x900.jpg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">TEXTURES</h5>
                    <p class="card-text">CHECK OUT THE LATEST TEXTURES AND CREATE YOUR OWN UNIQUE STYLE</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-12">
        <a href="#">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="height: 238px;" src="https://www.destructoid.com//ul/513648-RocketLeagueHeader.jpg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">ITEMS</h5>
                    <p class="card-text">EQUIP ANY GAME ITEM OR CUSTOM TEXTURE TO </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-12">

        <a href="#">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="height: 238px;" src="https://cdn-images-1.medium.com/max/1400/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">STATS</h5>
                    <p class="card-text">TRACK YOUR IN GAME PERFORMANCE</p>
                </div>
            </div>
        </a>

    </div>
</div>













      

{# <button id="resizeBtn">Resize</button> #}
