{# HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaL text-left w-100 heading-title">
            DASHBOARD
        </p>
    </div>
</div>
{# SUB HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            ALPHACONSOLE HOME AND LATEST INFO/FEATURES
        </p>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-12">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            WHAT CAN ALPHACONSOLE DO?
        </p>
    </div>
    <div class="col-md-4 col-sm-12">
        <a href="#">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="max-height: 238px;" src="https://rocketleaguemods.com/wp-content/uploads/cmdm/167676/1502813368_20170815180638_1-1600x900.jpg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">TEXTURES</h5>
                    <p class="card-text">CHECK OUT THE LATEST TEXTURES AND CREATE YOUR OWN UNIQUE STYLE</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-12">
        <a href="#">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="max-height: 238px;" src="https://www.destructoid.com//ul/513648-RocketLeagueHeader.jpg');"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">ITEMS</h5>
                    <p class="card-text">EQUIP ANY GAME ITEM OR CUSTOM TEXTURE TO </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-12">

        <a id="showStatsInfo" data-toggle="pill" href="#pills-stats" role="tab" aria-controls="pills-profile"
            aria-selected="false">
            <div class="card bg-dark text-white">
                <img class="card-img img-fluid" style="max-height: 238px;" src="https://cdn-images-1.medium.com/max/1400/1*LeFD2yGfNxdTEX3y71VxoA.jpeg"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">STATS</h5>
                    <p class="card-text">TRACK YOUR IN GAME PERFORMANCE</p>
                </div>
            </div>
        </a>

    </div>
</div>


<div id="StatsInfo" style="display:none;" class="stats-info-bg w-100 pull-left h-100">
    <div class="stats-info-wrapper p-5 w-100 pull-left h-100">
        <div class="row">
            <div class="col-md-11 mb-2">
                <p class="font-quarcaM fs-32 text-left w-100 ls-s">
                    WHAT ARE STATISTICS
                </p>
            </div>
             <div class="col-md-1">
                <button id="hideStatsInfo" class="font-quarcaM fs-14 btn btn-danger p-2 w-100 ls-s">
                    CLOSE
                </button>
            </div>
            
        </div>


        <div class="row">
            <div class="col-md-8 col-xs-12 mt-5">
                <p class="font-exoL fs-14 text-left w-100 ls-s">
                    THE STATS YOU SEE IN ALPHACONSOLE ARE COMPRISED OF YOUR IN GAME MATCHES. THE APPLICATION
                    AUTOMATICALLY RECORDS YOUR MMR AFTER EACH GAME. THIS WAY YOU CAN SEE A BREAK DOWN OF YOUR
                    WIN/LOSS PROGRESSION.

                </p>

                 <p class="font-exoL fs-14 text-left w-100 ls-s mt-5">
                    AND WE DIDN'T STOP THERE! HAVE YOU EVER PLAYED FOR A FEW HOURS AND THEN WANTED TO SEE HOW
                    MANY OF TODAYS GAMES YOU HAVE WON OR LOST? WELL NOW YOU CAN HEAD OVER TO YOUR PROFILE AND 
                    SEE A MATCH HISTORY OF YOUR LAST 20 PLAYED GAMES! YOU CAN FIND A VARIETY OF INFORMATION ON
                    THOSE GAMES AND WE PLAN TO GIVE YOU EVEN MORE INFORMATION ABOUT YOU ROCKET LEAGUE EXPERIENCE
                    IN THE COMING FUTURE!
                </p>
            </div>
        </div>

        <div class="row">
             <div class="col-md-8 col-xs-12 mt-5">
                <div class="w-100" id="chart"></div>
            </div>

        </div>












        
           
    </div>
</div>

{# <button id="resizeBtn">Resize</button> #}