
{# HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaL text-left w-100 heading-title">
            EXTRAS
        </p>
    </div>
</div>
{# SUB HEADING #}
<div class="row">
    <div class="col-md-12">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            ENABLE IN GAME FEATURES AND CUSTOMIZE YOUR PLAYSTYLE
        </p>
    </div>
</div>