{# HEADING #}
<div class="row w-100">
    <div class="col-md-12">
        <p class="font-quarcaL text-left w-100 heading-title">
            TEXTURES
        </p>
    </div>
</div>
{# SUB HEADING #}
<div class="row w-100">
    <div class="col-md-8 ">
        <p class="font-quarcaM fs-12 font-italic text-left w-100 ls-s">
            FIND CUSTOM TEXTURES TO PIMP OUT YOUR RIDE
        </p>
    </div>
    <!-- SEARCH BAR -->
    <div style="margin-top:-10px;" class="col-md-4">
        <input type="text" class="acc-input" id="search-criteria" placeholder="Search" aria-describedby="inputGroupPrepend"
            onchange="searchtextures();" onkeyup="searchtextures();" onpaste="searchtextures();" oninput="searchtextures();">
    </div>
</div>

<!-- TEXTURE LIST -->
<div class="row w-100">
    <div class="col-md-12 p-0" id="texture-pack-list" ></div>
</div>

<!-- PAGE CONTROL -->
<div class="row w-100 mt-4">
    <div class="col">
        <a onclick="PrevPage()" class="" id="button-prev-page" style="width:40px; height:40px; color:#fff; padding:5px;  float:right; cursor:pointer">
            <i style="width:30px; height:30px; font-size:30px;" class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col">
        <p id="page-number-bottom" class="font-quarcaM p-2 w-100 page-control">Page:
        </p>
    </div>
    <div class="col">
        <a onclick="NextPage()" class="" id="button-next-page" style="width:40px; height:40px; color:#fff; padding:5px;  float:left;  cursor:pointer">
            <i style="width:30px; height:30px; font-size:30px; " class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>