 <!-- Help Modal -->
  <div id="helpModal" class="modal" style="z-index: 1000000">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <p class="font-quarcaL p-2 w-100 heading-title">HELP/INFO</p>
        <span class="close lnr lnr-cross pl-2 pr-2"></span>
      </div>
      <div class="modal-body">
        <p>Welcome to AlphaConsole!</p>
        <br>
        <p>First we need to go over a few basic points.</p>
        <ol class="pl-5">
          <li>
            <strong>The App:</strong> Now this is the most important part! You no longer need AlphaConsole on for your item changes
            to take effect.... magic ...... Just set it up once and you're good to go, unless you want to make changes! IKR
            how neat is that! If you want to disable AC without having to uninstall then just head over to the settings tab
            and UnCheck "Enable AlphaConsole", hit save and BOOM no more ac.</li>
          <br>
          <!-- <li><strong>Rocket League:</strong> For the above to work then the app needs to know where Rocket League is installed. This helps with alot of AC related functions.
            If you go to the settings tab you will see an option called "Rocket League install location". IF you have Rocket League setup in the default location (Program Files)
          that steam puts RL then just hit Auto-Detect and AC will find it for you. However, if you have moved the RL install path onto a different drive or path etc then you will
         be propmted to find the install path manually, you go to where you have RL installed open "Binaries\Win32" and double click on "RocketLeague.exe"! YAY, you should now have
        have AlphaConsole pointing at Rocket League.</li>
            <br> -->
          <li>
            <strong>Bugs:</strong> We know not everything will be perfect ;)! But if you have crashes, issues,
            bugs, non loaded textures etc then please report them to the #help channel in the Discord. If you have any
            other issues after that then contact support. Please only escalate an issue to a Dev or Admin if it is critical
            and can't be resolved by a member of support.</li>
        </ol>
        <br>
        <p>Most of all, Have fun and play nice! Try to give us as much feedback as possible, both good and bad!</p>

        <div class="row m-0 mt-3 mb-3 w-100 p-0">
          <div class="col-3 pl-0 pr-0">
            <a href="http://discord.gg/alphaconsole" style="color:#fff;" class="font-quarcaL btn btn-acc">DISCORD</a>
          </div>
          <div class="col-3  pr-0">
            <a href="https://www.paypal.me/AlphaConsole" style="color:#fff;" class="font-quarcaL btn btn-acc w-100">DONATE</a>
          </div>
          <div class="col-3  pr-0">
            <a href="http://www.alphaconsole.net" style="color:#fff;" class="font-quarcaL btn btn-acc w-100">WEBSITE</a>
          </div>
          <div class="col-3  pr-0">
            <a id="ChangelogsBtn" href="#" style="color:#fff;" class="font-quarcaL btn btn-acc w-100">CHANGELOGS</a>
          </div>
        </div>

      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>

  <div id="prompt" class="modal" style="z-index: 1000000">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <p class="font-quarcaL p-2 w-100 heading-title" id="promptTitle"></p>
        <span id="closePrompt" class="close lnr lnr-cross pl-2 pr-2"></span>
      </div>
      <div class="modal-body">

        <p id="promptContent" style="margin-bottom: 20px"></p>

      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>

  <div id="changelogsModal" class="modal" style="z-index: 1000000">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <p class="font-quarcaL p-2 w-100 heading-title">CHANGELOGS</p>
        <span id="closeChangeLogs" class="close lnr lnr-cross pl-2 pr-2"></span>
      </div>
      <div class="modal-body">

        <p id="changelogsInfo" style="margin-bottom: 20px"></p>

      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>