<div style="" class="row navbar-background">
    <div style="padding-top:40px" class="col-12 h-100">
        <div class="row">
            <div class="col-md-1 col-xs-12">
                <img class="img-responsive sidebar-logo" src="assets/img/logo_normal.png" alt="Logo">
            </div>
            <div class="col-md-9 col-sm-12">
                <ul class="nav nav-pills mt-1" id="pills-tab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left active" id="pills-dashboard-tab" data-toggle="pill"
                            href="#pills-dashboard" role="tab" aria-controls="pills-home" aria-selected="true">
                            <span class="nav-text-span">DASHBOARD<span>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-items-tab" data-toggle="pill" href="#pills-items"
                            role="tab" aria-controls="pills-profile" aria-selected="false">
                            <span class="nav-text-span">ITEMS<span>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-textures-tab" data-toggle="pill"
                            href="#pills-textures" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <span class="nav-text-span">TEXTURES<span>
                        </a>
                    </li>
                    
                    <div class="pl-md-5 pl-1"></div>
                    <li class="nav-item">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-extras-tab" data-toggle="pill"
                            href="#pills-extras" role="tab" aria-controls="pills-home" aria-selected="true">
                            <span class="nav-text-span">EXTRAS<span>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-stats-tab" data-toggle="pill" href="#pills-stats"
                            role="tab" aria-controls="pills-profile" aria-selected="false">
                            <span class="nav-text-span">STATS<span>
                        </a>
                    </li>

                    {# TODO: ASS CUSTOM BANNER FUNCTIONALITY #}
                    {# <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-banner-tab" data-toggle="pill"
                            href="#pills-banner" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <span class="nav-text-span">BANNER<span>
                        </a>
                    </li> #}

                    {# TODO: ADD CUSTOM TITLE FUNCTIONALITY #}
                    {# <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-title-tab" data-toggle="pill" href="#pills-title"
                            role="tab" aria-controls="pills-contact" aria-selected="false">
                            <span class="nav-text-span">TITLE<span>
                        </a>
                    </li> #}

                    <div class="pl-md-5 pl-1"></div>
                    
                    {# TODO: ADD PROFILE INFO AND MATCH HISTORY #}
                    {# <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-profile-tab" data-toggle="pill"
                            href="#pills-profile" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <span class="nav-text-span">PROFILE<span>
                        </a>
                    </li> #}
                    
                    <li class="nav-item ml-3">
                        <a class="nav-link pt-4 pr-3 pl-3 fs-18 pull-left" id="pills-options-tab" data-toggle="pill"
                            href="#pills-options" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <span class="nav-text-span">OPTIONS<span>
                        </a>
                    </li>
                </ul>
            </div>

            {# TODO: IMPLEMENT LOGIN FUNCTIONALITY #}
            {# <div class="col-md-2 col-xs-12">
                <ul class="nav pull-right nav-pills mt-1 mr-2" id="pills-tab" role="tablist">
                    <div class="media" style="margin-top:-13px;">
                        <div class="media-body">
                            <small class="font-exo-lightM fs-12 text-right pull-right" style="color:#999;">#5341</small>
                            <h5 class="mt-0 font-bourgL text-right ls-s fs-18"> ARXARIUS</h5>
                            <a style="margin-top:-5px; margin-left:-2px;" class="font-bourgM fs-14 text-right pull-right">LOGOUT</a>
                        </div>
                    </div>
            </div>
            </ul>
        </div> #}

    </div>
</div>