<div class="row h-100 sidebar-background">
    <div style="padding-top:40px" class="col-12 h-100">
        <div class="row">
            <div class="col-12">
                <img class="img-responsive sidebar-logo" src="assets/img/logo_normal.png" alt="Logo">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                {# <h3 class="font-bourgL">MAIN</h3> #}
            </div>
            <div class="col-12">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-home" aria-selected="true">DASHBOARD</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-items" role="tab" aria-controls="v-pills-profile" aria-selected="false">ITEMS</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-textures" role="tab" aria-controls="v-pills-messages" aria-selected="false">TEXTURES</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-options" role="tab" aria-controls="v-pills-messages" aria-selected="false">OPTIONS</a>

                    <div class="" style="padding-top:35px;"></div>

                    <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-home" aria-selected="true">EXTRAS</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-options" role="tab" aria-controls="v-pills-messages" aria-selected="false">STATS</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-items" role="tab" aria-controls="v-pills-profile" aria-selected="false">BANNER</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-textures" role="tab" aria-controls="v-pills-messages" aria-selected="false">TITLE</a>
                </div>
            </div>
        </div>

    </div>
</div>