/*COMPILE ######################*/
/*-------------------------------------------------------------*/
/*COLOURS*/
/*                         |*/
/*-------------------------------------------------------------*/
/*GRAY SCALE*/
/*                         |*/
/*-------------------------------------------------------------*/
/*BRAND COLOURS*/
/*                         |*/
/*--------*/
/*--------*/
/*--------*/
/*-------------------------------------------------------------*/
/*TYPOGRAPHY*/
/*                                      |*/
/*-------------------------------------------------------------*/
/*BUTTONS*/
/*                                      |*/
/*-------------------------------------------------------------*/
/*INPUTS*/
/*                                      |*/
/*-------------------------------------------------------------*/
/*SCAFFOLDING*/
/*                                      |*/
/*-------------------------------------------------------------*/
/*OPTIONS*/
/*                                      |*/
/*############################*/
html {
  position: relative;
  min-height: 100%;
  font-family: "Lato", sans-serif !important;
}

body {
  height: 100%;
  color: #fff;
  background: linear-gradient(#393939, #222222);
}

/*COMPONENTS ######################*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

main {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  margin-top: 10px;
  height: 100%;
  float: left;
  position: relative;
}

section {
  margin-left: -1px;
  overflow-x: hidden;
  display: none;
  border-top: 5px solid #414141;
  border-left: 1px solid #616161;
  border-right: 1px solid #616161;
  border-bottom: 1px solid #616161;
  float: left;
  width: 100%;
  position: relative;
  height: 645px;
  background-image: url("../../img/ball-bg.png");
  background-position-y: -155px;
}

.panel {
  padding: 0 10px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  color: #fff;
  transition: max-height 0.2s ease-out;
}

.alt-row-h {
  background-color: rgba(57, 57, 57, 0.5) !important;
}

.alt-row-strong-h {
  background-color: rgba(57, 57, 57, 0.8) !important;
}

.alt-row {
  background-color: rgba(57, 57, 57, 0.3) !important;
}

.alt-row-strong {
  background-color: rgba(57, 57, 57, 0.6) !important;
}

.b-team {
  color: #5698EB !important;
}

.o-team {
  color: #D09B4F !important;
}

.build-number {
  position: relative !important;
  color: #616161 !important;
  float: right;
  margin-top: 5px;
}

.hidden {
  display: none !important;
}

.status-text {
  position: relative !important;
  color: #eceeef !important;
  width: 100% !important;
  text-align: right !important;
}

.pull-left {
  float: left !important;
}

.save-wrapper {
  float: left;
  width: 100%;
  position: relative;
  bottom: 0px;
  margin-bottom: 24px;
}

.tabssac {
  max-width: 100%;
  margin-top: -20px;
}

.tabs-nav li {
  float: left;
  width: 50%;
  list-style: none;
  background: #313131;
  text-decoration: none;
}

.tabs-nav li:first-child a {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 28px;
  font-family: BourgeoisLight;
  text-decoration: none;
  border: 1px solid #454545;
}

.tabs-nav li:last-child a {
  float: left;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 28px;
  font-family: BourgeoisLight;
  text-decoration: none;
  border: 1px solid #454545;
}

.tab-active a {
  background: #414141;
  border: 1px solid #454545;
  color: #fff;
  cursor: cursor;
  text-decoration: none;
}

.tabs-stage {
  color: #fff;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */	
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: transparent;
  color: white;
  border: none;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  border: none;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: transparent;
  color: white;
  border: none;
}

/* Modal Content */
.modal-content {
  position: relative;
  background: linear-gradient(#393939, #222222);
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: none;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100%;
}

.table th,
.table td {
  border-top: none;
  padding: 2px 0.75rem;
}

.table {
	margin-bottom: 0;
}

select {
  padding: 5px !important;
}

.heading-title {
  color: #fff;
  font-size: 42px !important;
  text-align: center;
  float: left;
}

.section-header {
  font-family: BourgeoisLight;
  font-size: 20px;
  background-color: #393939;
  color: #fff;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border: 1px solid #454545;
  transition: 0.4s;
}

.btn {
  padding: 0.4rem 0rem;
}

.btn-acc {
  border-radius: 0px;
  font-size: 20px;
  width: 100% !important;
  background: #3F3F3F;
  color: #fff;
  border-color: #3F3F3F;
  cursor: pointer;
}
.btn-acc:hover {
  background: #616161;
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}

.acc-input {
  display: inline-block;
  color: #fff;
  padding: 10px;
  border: 1px solid #3D3D3D;
  background-color: #313131;
  height: 100%;
  width: 88%;
  max-height: 30px;
  font-size: 12px;
}
.alt-row-strong > .acc-input {
	width: 94%;
}
.alt-row span,
.alt-row-strong span {
    cursor: pointer;
}

input {
  display: none;
}

label {
  font-family: BourgeoisLight;
  display: inline-block;
  margin: -4px -4px -4px -1px;
  padding: 5px 5px;
  text-align: center;
  color: #fff;
  background: #313131;
  border: 1px solid #454545;
  width: 33.4%;
  font-size: 26px;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  font-family: BourgeoisLight;
  color: #fff;
  background: #414141;
  border: 1px solid #454545;
  font-size: 36px;
  margin: -1px -4px -5px -1px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
.active:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0d8";
}

.tick-container {
  display: block;
  position: relative;
  border: none;
  margin-top: 1px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}

/* Hide the browser's default checkbox */
.tick-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #3D3D3D;
  background-color: #616161;
}

/* On mouse-over, add a grey background color */
.tick-container:hover input ~ .checkmark {
  border: 1px solid #3D3D3D;
  background-color: #616161;
}

/* When the checkbox is checked, add a blue background */
.tick-container input:checked ~ .checkmark {
  border: 1px solid #3D3D3D;
  background-color: #616161;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tick-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tick-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion {
  font-family: BourgeoisLight;
  font-size: 20px;
  background-color: #393939;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-top: 2px;
  border: 1px solid #454545;
  transition: 0.4s;
}

.accordion:after {
  font-family: "Font Awesome 5 Free";
  content: '\f0d7';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3F3F3F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#title-bar {
  -webkit-app-region: drag;
  height: 35px;
  text-align: left;
  line-height: 40px;
  vertical-align: middle;
  background-color: #393939;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  float: left;
  z-index: 99998;
}

#title-bar-btns {
  text-align: right;
  float: right;
  position: fixed;
  -webkit-app-region: no-drag;
  width: 10%;
  top: 0px;
  right: 0px;
  z-index: 99999;
}

#title-bar-btns a:hover {
  background-color: #616161;
}

#title-bar-btns #close-btn:hover {
  background-color: #d9534f;
}

.title-bar-btn-wrapper {
  width: 35px;
  height: 35px;
  float: left;
  padding: 2px;
}

.min-btn {
  width: 16px;
  height: 16px;
  margin-left: -3px;
  margin-left: 8px;
  margin-top: 7px;
  float: left;
}

.close-btn {
  margin-top: 7px;
  float: left;
}

.title-bar-wrapper {
  float: left;
  width: 100%;
}

.footer-bar-wrapper {
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 25px;
}

.footer-bar {
  background: #1d1d1d;
  height: 25px;
}
.color-table nth-child(odd) {
	width: 18%;
}
.color-table nth-child(even) {
	width: 27%;
}
.color-table td:last-child {
	width: 10%;
}
.color-table tbody tr td:last-child {
	padding-left: 27px;
}
.color-table .acc-input {
	width: 65px;
	display: inline-block;
}
.color-table {
	border-bottom: solid 5px #616161;
}
.teams .item-table .alt-row:first-child {
	width: 150px;
}
.teams table thead {
	font-weight: bold;
}


/*# sourceMappingURL=alphaconsole.css.map */
