@font-face {
    font-family: BourgeoisLight;
    src: url(../fonts/BourgeoisLight.otf);
}

@font-face {
    font-family: BourgeoisMedium;
    src: url(../fonts/BourgeoisMedium.otf);
}

.font-bourgL{
    font-size:22px;
    font-family: BourgeoisLight;
}

.font-bourgM{
    font-size:16px;
    font-family: BourgeoisMedium;
}

.main{
    height: 100%;

}


.inner-fill{
  
    height:100%;
    background:url('../img/inner-fill.png') center;
    background-position-y: 0px;  
}

.heading-title{
  margin-top:10px;
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin-top:-10px;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
  }

  
  h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
  }
  
 
  
  main {
    width: 671px;
    max-width: 800px;
   padding:7px;
    margin: 0 auto;
    background: transparent;
  }
  
  section {
      margin-left: -1px;
      overflow-x:hidden;
    display: none;
      height: 601px;
    border-top: 5px solid #454545;
  }
  
  input {
    display: none;
  }
  
  label {
    font-family: BourgeoisLight;
    display: inline-block;
    margin: -4px -4px -4px -1px;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
    background: #313131;
    border: 1px solid #454545;
    width:33.4%;
    font-size:26px;
  }
  
  

  
  label:hover {
    color: #888;
    cursor: pointer;
  }
  
  input:checked + label {
    font-family: BourgeoisLight;
    color: #fff;
    background: #414141;
    border: 1px solid #454545;
    font-size:36px;
    margin: -1px -4px -5px -1px;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }

  @media screen and (max-width: 650px) {
    label {
      font-size: 0;
    }
    label:before {
      margin: 0;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    label {
      padding: 15px;
    }
  }

  .btn {
    padding: 0.4rem 0rem;
}

.btn-acc{
    border-radius:0px;
    font-size:20px;
    width: 89%!important;
    background: #3F3F3F;
    color:#fff;
    border-color: #3F3F3F;
}


.section-header {
    
    font-family: BourgeoisLight;
    font-size:20px;
    background-color: #393939;
    color: #fff;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    
    border: 1px solid #454545;
    transition: 0.4s;
}


.accordion {
    
    font-family: BourgeoisLight;
    font-size:20px;
    background-color: #393939;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-top:2px;
    border: 1px solid #454545;
    transition: 0.4s;
}


.accordion:after {
    font-family: "Font Awesome 5 Free";
    content: '\f0d7';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

.active:after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d8";
}

.panel {
    padding: 0 10px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    color: #fff;
    transition: max-height 0.2s ease-out;
}


.tick-container {
    display: block;
    position: relative;
    border: none;
   margin-top:1px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float:left;
}

/* Hide the browser's default checkbox */
.tick-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #3D3D3D;
    background-color: #313131;
}

/* On mouse-over, add a grey background color */
.tick-container:hover input ~ .checkmark {
    border: 1px solid #3D3D3D;
    background-color: #313131;
}

/* When the checkbox is checked, add a blue background */
.tick-container input:checked ~ .checkmark {
    border: 1px solid #3D3D3D;
    background-color: #313131;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tick-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.tick-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alt-row-h{
    background-color: rgba(57,57,57,0.5) !important;
}

.alt-row-strong-h{
    background-color: rgba(57,57,57,0.8) !important;
}

.alt-row{
    background-color: rgba(57,57,57,0.3) !important;
}

.alt-row-strong{
    background-color: rgba(57,57,57,0.6) !important;
}


.acc-input{
    display: block;
    color:#fff;
    padding:10px;
    border: 1px solid #3D3D3D;
    background-color: #313131;
    height:100%;
    width:100%;
    max-height:30px;
    font-size:12px;
}

.b-team{
    color:#5698EB;
}

.o-team{
    color:#D09B4F;
}


.table thead th {
    vertical-align: bottom;
     border-bottom: 1px solid #393939; 
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #393939; 
    
}




