// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  font-size: 16px;
  letter-spacing: 3px;
  font-family: BourgeoisMedium;
  padding: $nav-link-padding;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;
    cursor: $cursor-disabled;
  }
}


//
// Tabs
//

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
    }

    &.disabled {
      color: $nav-disabled-link-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-active-link-hover-color;
    border-right: 6px solid $ac-gray-mid;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  .nav-link {

    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-pills-active-link-color;
    cursor: default;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#898989+11,565656+100&0+1,0.5+100 */
    background: -moz-linear-gradient(top, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00898989', endColorstr='#80565656', GradientType=0);
    /* IE6-9 */

    transition: all 2s ease-in;

  }
}


  .nav-link:hover {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#898989+11,565656+100&0+1,0.5+100 */
    background: -moz-linear-gradient(top, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(137, 137, 137, 0) 1%, rgba(137, 137, 137, 0.05) 11%, rgba(86, 86, 86, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00898989', endColorstr='#80565656', GradientType=0);
    /* IE6-9 */

    transition: all 2s fadeInUp;

    $red: #F37272;
    $brown: #584E4A;
    $whitey: #f0f0f0;
    
    $duration: .2s;
    $distance: 8px;
    $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

    
  }

  //
  // Justified variants
  //

  .nav-fill {
    .nav-item {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  .nav-justified {
    .nav-item {
      flex: 1 1 100%;
      text-align: center;
    }
  }


  // Tabbable tabs
  //
  // Hide tabbable panes to start, show them when `.active`

  .tab-content {
    >.tab-pane {
      display: none;
    }

    >.active {
      display: block;
    }
  }